.header {
  &__form {
    display: block;
    color: $white;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__input {
    border-radius: 0;
    border: 0;
    width: 300px !important;
    height: 40px;
  }

  &__btn {
    background-color: $red;
    color: $white;
    font-size: 0.8em;
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px 40px;
    height: 40px;
  }

  &__paragraph {
    color: $red;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
    margin-bottom: 0;
  }

  &__sum {
    color: $white;
    font-size: 2.25em;
    font-weight: bold;
    text-align: right;
  }
}
